.feature--container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 82.375rem;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;

  @media (max-width: 1024px) {
    h3 {
      font-size: 2.75rem;
    }
  }
  &__content {
    width: 100%;
    margin-top: 3.75rem;

    .title-text {
      margin-bottom: 0.1875px;
    }
  }
}
