.purchase--detaills__container {
  padding-top: 11.6875rem;
  max-width: 99.5rem;
  width: 100%;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .card--container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.25rem;

    .connect--card {
      position: relative;
      width: 100%;
      padding: 0 3rem;
      // background: left navajowhite;
      background-image: url('../../images/connectCardBackground.png');
      // background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      height: fit-content;
      border-right: 3px solid #1b2264;
      border-radius: 6px;

      &__left--space {
        width: 47.5%;
      }

      &__content {
        width: 52.5%;
        padding: 3rem 0;

        .bb_18_regular {
          color: #87889d;
          margin-bottom: 0.5rem;
        }

        .bb_16_medium {
          margin-top: 0.8125rem;
        }
      }

      .btn-connect-wallet {
        right: 2rem;
        bottom: 0;
        transform: translateY(50%);

        position: absolute;
        .bb_16_medium {
          padding: 0.52rem 0.8rem;

          span {
            color: rgb(255 193 193);
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
          }
        }

        &:disabled {
          background-color: #2043f1 !important;
          border-color: #2043f1 !important;
          opacity: 1;
        }
      }
    }

    // .purchase--card {
    //   background-image: linear-gradient(#0a1544, #172874 50.31%, #07113e 100%);
    //   height: fit-content;
    //   width: 15.8%;
    //   margin-left: 1.8rem;
    //   padding: 1.75rem 1.5rem 1.6rem 1.75rem;

    //   .cost--container {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 0.125rem;

    //     .price-title {
    //       color: #2043f1;
    //     }
    //   }

    //   .purchase--container {
    //     margin-top: 0.5rem;
    //     .purchase {
    //       padding: 0.6875rem 2rem;
    //     }
    //   }
    // }

    @media (max-width: 1600px) {
      .connect--card {
        // width: 70%;
      }

      .purchase--card {
        width: 25%;
      }
    }

    @media (max-width: 1024px) {
      .connect--card {
        &__content {
          width: 100%;
        }

        width: 60%;
        &__left--space {
          display: none;
        }
      }

      .purchase--card {
        width: 35%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .connect--card {
        width: 100%;
      }
      .purchase--card {
        width: 100%;
        margin: 3rem 0;
      }
    }
  }
}
